{% extends 'base.html' %}
{% block heads %}
    {{ super() }}
    <link href="/css/import_css/bootstrap-table.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if current_user.is_admin %}
                <div class="col">
                    {# 如果是管理员 #}
                    <div class="inputBg p-5">
                        <p class="subtitle-text text-center">用户管理</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#accountDetail"
                                onclick="initAccountDetail()">
                            新建用户
                        </button>
                        <button type="button" class="btn btn-danger" onclick="deleteAccount()">
                            删除用户
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="accountDetail" data-bs-backdrop="static" data-bs-keyboard="false"
                             tabindex="-1" aria-labelledby="accountDetailLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="accountDetailLabel">用户信息</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="display: none" id="hiddenId"></div>
                                        <form action="" method="post">
                                            {{ form.csrf_token() }}
                                            <div class="form-floating mb-3">
                                                {{ form.username(type="text", class="form-control", id="username", placeholder="用户名", value=current_user.username) }}
                                                {{ form.username.label(for="username") }}
                                            </div>
                                            <div class="form-floating mb-3">
                                                {{ form.password(type="password", class="form-control", id="password", placeholder="密码") }}
                                                {{ form.password.label(for="password") }}
                                            </div>
                                            <div class="form-floating mb-3">
                                                {{ form.board_id(type="text", class="form-control", id="boardId", placeholder="所属舰船") }}
                                                {{ form.board_id.label(for="boardId") }}
                                            </div>
                                            <div class="form-check form-switch mb-3">
                                                {{ form.is_admin(type="checkbox", class="form-check-input", id="isAdmin", role="switch", placeholder="是否是管理员") }}
                                                {{ form.is_admin.label(for="isAdmin") }}
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭
                                        </button>
                                        <button type="button" class="btn btn-success"
                                                data-bs-dismiss="modal" id="createAccount"
                                                onclick="createAccount()">
                                            创建用户
                                        </button>
                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                                                id="updateAccount"
                                                onclick="updateAccount()">
                                            更新用户
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="accountTableToolbar"></div>
                        <table id="accountTable" data-toolbar="#accountTableToolbar" data-search="true"
                               data-toggle="table">
                        </table>
                    </div>
                </div>
            {% else %}
                {# 如果不是管理员 #}
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="inputBg p-5">
                        <p class="subtitle-text text-center">个人管理</p>
                        <form action="" method="post">
                            {{ form.csrf_token() }}
                            <div class="form-floating mb-3">
                                {{ form.username(type="text", class="form-control", id="username", placeholder="用户名", value=current_user.username) }}
                                {{ form.username.label(for="username") }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form.password(type="password", class="form-control", id="password", placeholder="密码") }}
                                {{ form.password.label(for="password") }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form.confirm(type="password", class="form-control", id="confirm", placeholder="确认密码") }}
                                {{ form.confirm.label(for="confirm") }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form.board_id(type="text", class="form-control", id="boardId", placeholder="所属舰船") }}
                                {{ form.board_id.label(for="boardId") }}
                            </div>
                            <div class="form-check form-switch mb-3">
                                {{ form.is_admin(type="checkbox", class="form-check-input text-white", id="isAdmin", role="switch", placeholder="是否是管理员") }}
                                {{ form.is_admin.label(for="isAdmin", class="text-white") }}
                            </div>
                            <div class="d-grid gap-2">
                                {{ form.submit(class="btn btn-success") }}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-3"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        let loadAccountListUrl = "{{ url_for('account_bp.load_board_account_list', board_id='board_id') }}".replace('board_id', {{ current_user.board_id }});
    </script>
    <script type="text/javascript" src="/js/import_js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/custom_js/account.js"></script>
{% endblock %}