{% extends 'base.html' %}
{% block heads %}
    {{ super() }}
    <link href="/css/import_css/bootstrap-table.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="display-6 text-center">北斗管理</p>
                <div id="beidouTableToolbar"></div>
                <table id="beidouTable" data-toolbar="#beidouTableToolbar" data-search="true">
                    <thead>
                    <tr>
                        <th data-field="beidou_id">北斗数传号</th>
                        <th data-field="board_id">所属舰船</th>
                        <th data-field="position_x">X坐标</th>
                        <th data-field="position_y">Y坐标</th>
                        <th data-field="position_z">Z坐标</th>
                        <th data-field="mode">设备状态</th>
                        <th data-field="card_id">北斗卡号</th>
                        {% if current_user.is_admin %}
                            <th data-field="option">操作</th>
                        {% else %}

                        {% endif %}
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        let loadBeidouUrl = "{{ url_for('beidou_bp.load_board_beidou_list', board_id='board_id') }}".replace('board_id', {{ current_user.board_id }});
    </script>
    <script type="text/javascript" src="/js/import_js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/custom_js/beidou.js"></script>
{% endblock %}