{% extends 'base.html' %}
{% block heads %}
    {{ super() }}
    <link href="/css/import_css/bootstrap-table.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="display-6 text-center">蓝牙管理</p>
                <div id="bluetoothTableToolbar"></div>
                <table id="bluetoothTable" data-toolbar="#bluetoothTableToolbar" data-search="true">
                    <thead>
                        <tr>
                            <th data-field="bluetooth_id">蓝牙号</th>
                            <th data-field="board_id">所属舰船</th>
                            <th data-field="position_x">X坐标</th>
                            <th data-field="position_y">Y坐标</th>
                            <th data-field="position_z">Z坐标</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/import_js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/custom_js/bluetooth.js"></script>
{% endblock %}