{% extends 'base.html' %}
{% block heads %}
    {{ super() }}
    <link href="/Cesium/Widgets/widgets.css" rel="stylesheet" type="text/css">
    <link href="/css/import_css/ol.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-9 position-relative">
                <div class="position-absolute">
                    <p id="earthTitle" class="display-6 text-center">三维地球</p>
                    <div id="earth" class="gisContainer"></div>
                </div>
                <div class="position-absolute">
                    <p id="mapTitle" class="display-6 text-center" style="display: none">二维地图</p>
                    <div id="map" class="gisContainer" style="display: none"></div>
                </div>
            </div>
            <div class="col-3">
                <p class="display-6 text-center">显控区</p>
                <ul class="list-group list-group-flush gisControlPanel">
                    <li class="list-group-item d-grid gap-2">
                        <button class="btn btn-outline-primary position-relative top-50 translate-middle-y"
                                onclick="changeGIS()">二/三维地图切换
                        </button>
                    </li>
                    <li class="list-group-item d-grid gap-2">
                        <button class="btn btn-outline-primary position-relative top-50 translate-middle-y"
                                onclick="initBoardInfo()">初始化舰船信息
                        </button>
                    </li>
                    <li class="list-group-item d-grid gap-2">
                        <button class="btn btn-outline-primary position-relative top-50 translate-middle-y"
                                onclick="updateBoardInfo()">更新舰船信息
                        </button>
                    </li>
                    <li class="list-group-item d-grid gap-2">
                        <button class="btn btn-outline-primary position-relative top-50 translate-middle-y"
                                onclick="stopUpdateBoardInfo()">停止更新舰船信息
                        </button>
                    </li>
                    <li class="list-group-item d-grid gap-2">
                        <button class="btn btn-outline-primary position-relative top-50 translate-middle-y"
                                onclick="clearBoardInfo()">停止更新并清除舰船信息
                        </button>
                    </li>
                </ul>
                <p class="display-6 text-center">北斗通信区</p>
                <ul class="list-group list-group-flush gisControlPanel">
                    <form action="" method="post">
                        {{ form.csrf_token() }}
                        <li class="list-group-item d-grid gap-2">
                            <div class="input-group">
                                {{ form.message.label(class="input-group-text") }}
                                {{ form.message(type="textarea", class="form-control", id="message") }}
                            </div>
                        </li>
                        <li class="list-group-item d-grid gap-2">
                            <div class="input-group">
                                {{ form.target_card_id.label(class="input-group-text") }}
                                {{ form.target_card_id(type="text", class="form-control", id="targetCardId") }}
                            </div>
                        </li>
                        <li class="list-group-item d-grid gap-2">
                            <div class="input-group">
                                {{ form.host_card_id.label(class="input-group-text") }}
                                {{ form.host_card_id(type="text", class="form-control", id="hostCardId") }}
                                {{ form.interval.label(class="input-group-text") }}
                                {{ form.interval(type="text", class="form-control", id="interval") }}
                            </div>
                        </li>
                        <li class="list-group-item d-grid gap-2">
                            {{ form.submit(class="btn btn-outline-primary", onclick="sendBeidouMessage(this)") }}
                        </li>
                    </form>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        /**
         * 船舶信息请求路由
         */
        let loadBoardInfoUrl = "{{ url_for('index_bp.board_info', board_id='board_id') }}".replace('board_id', {{ current_user.board_id }});
    </script>
    <script type="text/javascript" src="/Cesium/Cesium.js"></script>
    <script type="text/javascript" src="/js/custom_js/earthManager.js"></script>
    <script type="text/javascript" src="/js/import_js/ol.js"></script>
    <script type="text/javascript" src="/js/custom_js/mapManager.js"></script>
    <script type="text/javascript" src="/js/custom_js/gis.js"></script>
{% endblock %}