{% extends 'base.html' %}
{% block heads %}
    {{ super() }}
    <link href="/css/import_css/ol.css" rel="stylesheet" type="text/css">
    <link href="/Cesium/Widgets/widgets.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <p class="display-6 text-center">舰船信息</p>
                <ul class="list-group list-group-flush indexPanel">
                    <li class="list-group-item">舷号：{{ board_info.board_id }}</li>
                    <li class="list-group-item">舰名：{{ board_info.board_name }}</li>
                    <li class="list-group-item">经度：{{ board_info.board_lon }}°E</li>
                    <li class="list-group-item">纬度：{{ board_info.board_lat }}°N</li>
                </ul>
                <p class="display-6 text-center">舰船信息</p>
                <ul class="list-group list-group-flush indexPanel">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
            <div class="col-6">
                <p class="display-6 text-center">二维地图</p>
                <div id="map" class="indexMap"></div>
                <p class="display-6 text-center">三维地图</p>
                <div id="earth" class="indexMap"></div>
            </div>
            <div class="col-3">
                <p class="display-6 text-center">控制区</p>
                <ul class="list-group list-group-flush indexPanel">
                    <li class="list-group-item">
                        <button onclick="initBoardInfo()">初始化舰船信息</button>
                    </li>
                    <li class="list-group-item">
                        <button onclick="updateBoardInfo()">更新舰船信息</button>
                    </li>
                    <li class="list-group-item">
                        <button onclick="stopUpdateBoardInfo()">停止更新舰船信息</button>
                    </li>
                    <li class="list-group-item">
                        <button onclick="clearBoardInfo()">停止更新并清除舰船信息</button>
                    </li>
                </ul>
                <p class="display-6 text-center">舰船信息</p>
                <ul class="list-group list-group-flush indexPanel">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        /**
         * 船舶信息请求路由
         */
        let loadBoardInfoUrl = "{{ url_for('index_bp.board_info', board_id='board_id') }}".replace('board_id', {{ current_user.board_id }});
    </script>
    <script type="text/javascript" src="/js/import_js/ol.js"></script>
    <script type="text/javascript" src="/Cesium/Cesium.js"></script>
    <script type="text/javascript" src="/js/custom_js/mapManager.js"></script>
    <script type="text/javascript" src="/js/custom_js/earthManager.js"></script>
    <script type="text/javascript" src="/js/custom_js/index.js"></script>
{% endblock %}