{% extends 'base.html' %}
{% block heads %}
    {{ super() }}
    <link href="/css/import_css/ol.css" rel="stylesheet" type="text/css">
    <link href="/Cesium/Widgets/widgets.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="display-6 text-center">预警信息</p>
                <div class="breathingText display-6">告警信息告警信息告警信息告警信息告警信息告警信息</div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p class="display-6 text-center">舰船信息</p>
                <ul class="list-group list-group-flush indexPanel">
                    <li class="list-group-item text-center">舷号：{{ board_info.board_id }}</li>
                    <li class="list-group-item text-center">舰名：{{ board_info.board_name }}</li>
                    <li class="list-group-item text-center">经度：{{ board_info.board_lon }}°E</li>
                    <li class="list-group-item text-center">纬度：{{ board_info.board_lat }}°N</li>
                </ul>
                <p class="display-6 text-center">终端在线情况</p>
                <div id="terminalIndexChart" class="indexChart"></div>
            </div>
            <div class="col-6">
                <div class="indexImageContainer">
                    <div class="indexImages">
                        <img class="indexImage" src="/images/thumbs/index1.jpg">
                        <img class="indexImage" src="/images/thumbs/index2.webp">
                        <img class="indexImage" src="/images/thumbs/index3.jpg">
                        <img class="indexImage" src="/images/thumbs/index4.jpg">
                        <img class="indexImage" src="/images/thumbs/index5.webp">
                        <img class="indexImage" src="/images/thumbs/index6.png">
                    </div>
                </div>
                <p class="display-6 text-center">XXX</p>
                <div class="indexChart"></div>
            </div>
            <div class="col-3">
                <p class="display-6 text-center">XXX</p>
                <ul class="list-group list-group-flush indexPanel">

                </ul>
                <p class="display-6 text-center">设备在线情况</p>
                <div id="equipmentIndexChart" class="indexChart"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        /**
         * 船舶信息请求路由
         */
        let loadBoardInfoUrl = "{{ url_for('index_bp.board_info', board_id='board_id') }}".replace('board_id', {{ current_user.board_id }});
    </script>
    <script type="text/javascript" src="/js/import_js/echarts.min.js"></script>
    <script type="text/javascript" src="/js/custom_js/index.js"></script>
{% endblock %}