{% extends 'base.html' %}
{% block heads %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="subtitle-3">
                    <p class="subtitle-text text-center">
                        室内定位
                    </p>
                </div>
                <div id="scene" class="indoorScene p-2"></div>
            </div>
            <div class="col-3">
                <div class="subtitle-3">
                    <p class="subtitle-text text-center">
                        蓝牙信息
                    </p>
                </div>
                <ul class="list-group list-group-flush indoorPanel p-2">
                    <li class="list-group-item" id="bluetoothId">蓝牙基站号：</li>
                    <li class="list-group-item" id="bluetoothPositionX">X坐标：</li>
                    <li class="list-group-item" id="bluetoothPositionY">Y坐标：</li>
                    <li class="list-group-item" id="bluetoothPositionZ">Z坐标：</li>
                </ul>
                <div class="subtitle-3">
                    <p class="subtitle-text text-center">
                        终端信息
                    </p>
                </div>
                <ul class="list-group list-group-flush indoorPanel p-2">
                    <li class="list-group-item" id="terminalId">终端号：</li>
                    <li class="list-group-item" id="terminalPositionX">X坐标：</li>
                    <li class="list-group-item" id="terminalPositionY">Y坐标：</li>
                    <li class="list-group-item" id="terminalPositionZ">Z坐标：</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        let loadBluetoothListUrl = "{{ url_for('bluetooth_bp.load_board_bluetooth_list', board_id='board_id') }}".replace('board_id', {{ current_user.board_id }});
        let loadOnlineTerminalListUrl = "{{ url_for('terminal_bp.load_board_online_terminal_list', board_id='board_id') }}".replace('board_id', {{ current_user.board_id }});
    </script>
    <script type="module" src="/js/import_js/mitt.umd.js"></script>
    <script type="module" src="/js/custom_js/sceneManager.js"></script>
    <script type="module" src="/js/custom_js/indoor.js"></script>
{% endblock %}