{% extends 'base.html' %}
{% block heads %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <p class="display-6 text-center">蓝牙信息</p>
                <ul class="list-group list-group-flush indexPanel">
                    <li class="list-group-item" id="bluetoothId">蓝牙基站号：{{ bluetooth_info.bluetooth_id }}</li>
                    <li class="list-group-item" id="positionX">X坐标：{{ bluetooth_info.position_x }}</li>
                    <li class="list-group-item" id="positionY">Y坐标：{{ bluetooth_info.position_y }}</li>
                    <li class="list-group-item" id="positionZ">Z坐标：{{ bluetooth_info.position_z }}</li>
                </ul>
                <p class="display-6 text-center">舰船信息</p>
                <ul class="list-group list-group-flush indexPanel">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
            <div class="col-6">
                <p class="display-6 text-center">室内定位</p>
                <div id="scene" class="indoorScene"></div>
            </div>
            <div class="col-3">
                <p class="display-6 text-center">舰船信息</p>
                <ul class="list-group list-group-flush indexPanel">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
                <p class="display-6 text-center">舰船信息</p>
                <ul class="list-group list-group-flush indexPanel">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        let loadBluetoothListUrl = "{{ url_for('bluetooth_bp.load_board_bluetooth_list', board_id='board_id') }}".replace('board_id', '11');
    </script>
    <script type="module" src="/js/import_js/axios.min.js"></script>
    <script type="module" src="/js/import_js/mitt.umd.js"></script>
    <script type="module" src="/js/custom_js/sceneManager.js"></script>
    <script type="module" src="/js/custom_js/indoor.js"></script>
{% endblock %}