{% extends 'base.html' %}
{% block heads %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <p class="display-6 text-center">注册</p>
                <form action="" method="post">
                    {{ form.csrf_token() }}
                    <div class="form-floating mb-3">
                        {{ form.username(type="text", class="form-control", id="username", placeholder="用户名") }}
                        {{ form.username.label(for="username") }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.password(type="password", class="form-control", id="password", placeholder="密码") }}
                        {{ form.password.label(for="password") }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.confirm(type="password", class="form-control", id="confirm", placeholder="确认密码") }}
                        {{ form.confirm.label(for="confirm") }}
                    </div>
                    <div class="d-grid gap-2">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}