/*
* 首页样式
*/
.indexMap {
    height: 400px;
    width: 100%;
}

.indexPanel {
    height: 400px;
    width: 100%;
}

.indexChartStyle {
    height: 50%;
    width: 100%;
}

.popover-body {
    padding: 0;
    width: 300px;
}

.projectInfoMap {
    height: 400px;
    width: 100%;
}

.projectInfo {
    height: 400px;
    width: 100%;
}

.projectChartStyle {
    height: 400px;
    width: 90%;
}

/*
* 室内定位页样式
*/
.indoorScene {
    height: 900px;
    width: 100%;
}