/*
* 全局样式
*/

.mainBackground {
    height: 1080px;
    width: 100%;
    background-image: url("../../images/thumbs/mainBackground.jpg");
    background-size: cover;
    background-repeat: round;
    z-index: -1;
}

.mainTitle {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
    line-height: 110px;
    text-shadow: 5px 3px 8px rgba(73, 123, 178, 0.49);
    background: linear-gradient(0deg, #CFE1FB 39.1845703125%, #1375E4 100%);
    -webkit-background-clip: text;
}

.subtitle-3 {
    height: 30px;
    width: 100%;
    background-image: url("../../images/thumbs/subtitleBackground-3.png");
    background-size: cover;
    background-repeat: round;
}

.subtitle-6 {
    height: 30px;
    width: 100%;
    background-image: url("../../images/thumbs/subtitleBackground-6.png");
    background-size: cover;
    background-repeat: round;
}

.subtitle-9 {
    height: 30px;
    width: 100%;
    background-image: url("../../images/thumbs/subtitleBackground-9.png");
    background-size: cover;
    background-repeat: round;
}

.subtitle-12 {
    height: 30px;
    width: 100%;
    background-image: url("../../images/thumbs/subtitleBackground-12.png");
    background-size: cover;
    background-repeat: round;
}

.subtitle-text {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FFFFFF 39.1845703125%, #13A6E4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bootstrap-table thead th {
    background-color: #bbb;
    color: #fff;
}

.inputBg {
    width: 100%;
    background-image: url("../../images/thumbs/inputMask.png");
    background-size: cover;
    background-repeat: round;
}

.container-fluid {
    width: 96%;
}

/*
* 首页样式
*/

.indexEarth {
    background: url("../../images/thumbs/indexMap.jfif") repeat-x 0 0; /* 背景图片在水平方向复制*/
    height: 450px;
    left: 50%;
    margin: -225px 0 0 -225px;
    position: absolute;
    top: 50%;
    width: 450px;
    border: 1px solid rgba(26, 18, 101, 0.3); /*形成圆边效果，视觉效果更好，不用也行*/
    border-radius: 225px; /*使地球形成圆形效果*/
    box-shadow: -8px 0 25px rgba(256, 256, 256, 0.3), -1px -2px 14px rgba(256, 256, 256, 0.5) inset; /*形成圆形外面的模糊月晕效果*/
    -webkit-animation: loop 20s linear infinite;
}

.indexEarth:before {
    content: "";
    border-radius: 225px;
    box-shadow: -150px -6px 25px rgba(0, 0, 0, 0.7) inset; /*弧形阴影，形成白天黑夜效果*/
    left: 0;
    position: absolute;
    top: 0;
    height: 450px;
    width: 450px;
}

@keyframes loop {
    from {
        background-position: 0 0
    }
    to {
        background-position: -900px 0
    }
}

.indexPanel {
    width: 100%;
    height: 300px;
    background-image: url("../../images/thumbs/panelMask.png");
    background-size: cover;
    background-repeat: round;
    margin-top: 5px;
    margin-bottom: 10px;
}

.popover-body {
    padding: 0;
    width: 300px;
}

.indexChart {
    height: 400px;
    width: 100%;
    background-image: url("../../images/thumbs/panelMask.png");
    background-size: cover;
    background-repeat: round;
    margin-top: 5px;
    margin-bottom: 10px;
}

.breathingText {
    width: 100%;
    border: 2px solid #de2929;
    -webkit-animation: breathing 3s ease-out infinite normal;
    animation: breathing 3s ease-out infinite normal;
    background: #aaefdd;
    color: #de2929;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    text-align: center;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }

    100% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
        transform: scale(0.98);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
        transform: scale(0.98);
    }

    100% {
        -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
        transform: scale(0.98);
    }
}

.indexImage {
    width: 320px;
    height: 200px;
    position: absolute;
}

.indexImageContainer {
    width: 350px;
    height: 270px;
    margin-top: 10%;
    margin-left: 32%;
    perspective: 20000px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-6deg);
}

.indexImages {
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 60s linear infinite;
}

@keyframes rotate {
    from {

    }
    to {
        transform: rotateY(360deg);
    }
}

img:nth-child(1) {
    transform: rotateY(60deg) translateZ(300px);
}

img:nth-child(2) {
    transform: rotateY(120deg) translateZ(300px);
}

img:nth-child(3) {
    transform: rotateY(180deg) translateZ(300px);
}

img:nth-child(4) {
    transform: rotateY(240deg) translateZ(300px);
}

img:nth-child(5) {
    transform: rotateY(300deg) translateZ(300px);
}

img:nth-child(6) {
    transform: rotateY(360deg) translateZ(300px);
}

img:hover {
    width: 340px;
    height: 220px
}


/*
* 室内定位页样式
*/
.indoorScene {
    height: 820px;
    width: 100%;
    background-image: url("../../images/thumbs/panelMask.png");
    background-size: cover;
    background-repeat: round;
    margin-top: 5px;
    margin-bottom: 10px;
}

.indoorPanel {
    width: 100%;
    height: 180px;
    background-image: url("../../images/thumbs/panelMask.png");
    background-size: cover;
    background-repeat: round;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*
* GIS页样式
*/
.gisContainer {
    height: 820px;
    width: 1360px;
    background-image: url("../../images/thumbs/panelMask.png");
    background-size: cover;
    background-repeat: round;
    margin-top: 5px;
    margin-bottom: 10px;
}

.gisControlPanel {
    width: 100%;
    height: 290px;
    background-image: url("../../images/thumbs/panelMask.png");
    background-size: cover;
    background-repeat: round;
    margin-top: 5px;
    margin-bottom: 10px;
}

.beidouControlPanel {
    width: 100%;
    height: 370px;
    background-image: url("../../images/thumbs/panelMask.png");
    background-size: cover;
    background-repeat: round;
    margin-top: 5px;
    margin-bottom: 10px;
}

.loraControlPanel {
    width: 100%;
    height: 160px;
    background-image: url("../../images/thumbs/panelMask.png");
    background-size: cover;
    background-repeat: round;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*
登录表单样式
*/
